.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
}

.header__row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #ccc;
    height: 50px;
    padding: 15px;
}
.header__row-link {
    text-decoration: none;
    color: inherit;
}
.header__row-breadcrumb {
    padding: 15px;
}

.header__row-breadcrumb-list {
    display: flex;
    margin-right: 5px;
}
.breadcrumb__arrow {
    margin: 0 5px;
}
.header__cart-container {
    position: relative;
    display: flex;
    align-items: center;
}
.header__cart-icon {
    margin-right: 5px;
}
.badge {
    position: absolute;
    top: -8px;
    right: -4px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 12px;
}
@media screen and (min-width: 768px) {
    .header {
        display: flex;
        flex-flow: column nowrap;
    }
}
@media screen and (min-width: 1024px) {
    .header {
        display: flex;
        flex-flow: column nowrap;
    }

    .header__row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px 25px;
    }
}
