.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    outline: none;
    width: 100%;
    margin: 7px 0px;
}

@media screen and (min-width: 1024px) {
    .search-bar {
        justify-content: end;
        margin-right: 15px;
    }
    .search-input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 200px;
        outline: none;
    }
}
