.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    position: sticky;
    top: 127px;
    z-index: 400;
    background-color: #fff;
}
.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    outline: none;
    width: 100%;
    margin: 7px 0px;
}
.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}
.loader__image {
    width: 150px;
}

.not-found-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.not-found-image {
    width: 300px;
}
@media screen and (min-width: 768px) {
    .search-input {
        padding: 8px;
    }
}

@media screen and (min-width: 1024px) {
    .search-bar {
        margin-right: 15px;
        top: 102px;
    }
    .search-input {
        padding: 8px;
        width: 1550px;
    }
    .loader {
        height: 70vh;
    }
    .loader__image {
        width: 150px;
    }
    .not-found-image-container {
        height: 60vh;
    }
    .not-found-image {
        width: 400px;
    }
}
