.item-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    place-items: center;
}
.item-container a {
    text-decoration: none;
    color: inherit;
}

.item-price {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 8px;
    margin-top: 10px;
}
.image-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}
@media screen and (min-width: 768px) {
    .item-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .item-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
