.product-options__title {
    font-weight: bold;
    margin: 25px 0;
}
.price-text {
    font-size: larger;
    font-weight: bold;
    padding-bottom: 10px;
}

.button-container {
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
    padding: 15px;
    padding-bottom: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    box-shadow:
        0px -4px 5px rgba(0, 0, 0, 0.14),
        0px 1px 10px rgba(0, 0, 0, 0.12);
}

.product-actions__selector-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-actions__selector-label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-actions__selector-input {
    padding: 15px;
}

.product-actions__add-to-cart-button {
    display: inline-flex;
    position: relative;
    outline: 0px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid transparent;
    border-radius: 4px;
    background: rgb(255, 96, 0);
    transition:
        background 0.3s ease 0s,
        box-shadow 0.3s ease 0s,
        border-color 0.3s ease 0s;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: normal;
    padding: 11px 1rem;
    width: 90%;
    justify-content: center;
}

.product-actions__add-to-cart-button:disabled {
    background-color: gray;
    cursor: inherit;
}
@media screen and (min-width: 768px) {
    .product-options__container {
        grid-column: span 2;
    }
    .button-container {
        margin: 0;
        width: 100%;
    }
    .product-actions__add-to-cart-button {
        width: 96%;
    }
}
@media screen and (min-width: 1024px) {
    .product-options__container {
        grid-column: span 2;
    }

    .price-text {
        font-size: xx-large;
        font-weight: bold;
        padding-bottom: 15px;
        padding-left: 10px;
    }
    .button-container {
        margin-top: 25px;
        width: 100%;
        position: static;
        box-shadow: none;
        padding: 0;
    }
    .product-actions__add-to-cart-button {
        width: 488px;
        position: inherit;
    }
    .product-actions__selector-container {
        gap: 16px;
    }
    .product-actions__selector-label {
        width: 488px;
    }
}
