html {
    min-height: 100vh;
}

body {
    height: 100%;
    color: rgb(51, 51, 51);
    font-family: 'Open Sans', open-sans, sans-serif;
}

#root {
    height: 100%;
}

main {
    height: 100%;
    padding: 0 15px;
}
